# Byte-compiled / optimized / DLL files
.DS_Store

# Settings
.env
settings_deployment.py
venv/

# Collected Static Files
staticfiles/**
**/staticfiles/images/ocd-person/*.jpg

__pycache__
downloads
webpack-stats.json

*.pyc
*.pyo
db.sqlite3

# Data
_data/seattle/*.json

# JavaScript
frontend/node_modules/
frontend/dist/